# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
coverage.xml

# Environments
.venv/
.env

# Editors/OS
.DS_Store
*.swp
.idea/
.vscode/

# Project
# assets klasörü takip edilsin (statik dosyalar)
node_modules/
dist/
build/

.vercel
